#messages {
    position: fixed;
    left: 30%;
    right: 30%;
    top: 10px;
    padding: 5px;
    pointer-events: none;
    text-align: center;
    z-index: 500;
}
.message {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #f88;
    //border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888;
    display: none;
}
.message.info {
    background-color: #8e8;
}
.message.warning {
    background-color: #fd8;
}
.message.error {
    background-color: #f88;
    z-index: 1500;
}
